/* Fonts */
@font-face {
    font-family: "Circle_Semi";
    src: url(../font/Cicle_Semi.ttf);
}
@font-face {
    font-family: "Engagement-Regular";
    src: url(../font/Engagement-Regular.ttf);
}
* {
    box-sizing: border-box;
}
body {
	height: 100%;
 	margin: 0;
	overflow-x: hidden;
    background-color: white;
    font-family: 'Open Sans', sans-serif;
}
section:not(:first-of-type) {
    background-color: aliceblue;
    padding: 80px 30px 20px 30px;
    margin-top: -60px;
}
section:not(:first-of-type) .sectionContent {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
}
section:not(:first-of-type) h3 {
    font-size: 48px;
    font-family: "Engagement-Regular";
    text-align: center;
}
section h4 {
	margin-bottom: 5px;
    font-size: 18px;
}

.verticalAlignCenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
 	-webkit-transform: translateY(-50%);
 	-moz-transaform: translateY(-50%);
 	-ms-transform: translateY(-50%);
}
/* Nav */
#nav {
	display: table;
	table-layout: fixed;
	height: 60px;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	font-family: 'Circle_Semi';
	font-size: 1.5em;
	padding: 10px 3%;
}
#navLeft, #navRight {
	width: 40%;
	display: table;
}
#navLeft {
	float: left;
}
#navRight {
	float: right;
	text-align: right;
}
#navLeft > DIV, #navRight > DIV {
	padding: 0 5px;
	width: 33%;
	display: table-cell;
}
#nav a {
	text-decoration: none;
	vertical-align: sub;
	font-size: 0.85em;
	font-weight: 500;
    color: #000;
    border-bottom: 3px solid #fff;
}  
#nav a:hover {
	border-bottom: 3px solid rgba(220,100,100,1);
}
#nav.active {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}
#heart {
	background-image: url("../images/heart.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    height: 120px;
    left: 0;
    right: 0;
    margin: auto;
    width: 20%;
    top: -10%;
}
@Media (max-width: 1000px) {
	#nav {
		font-size: 1.2em;
		height: 48px;
	}
	#heart {
		height: 96px;
	}
}
@Media (max-width: 700px) {
	#nav {
		font-size: 1em;
	}
}
@Media (max-width: 530px) {
	#nav {
		font-size: 0.8em;
		height: 32px;
	}
}
@Media (max-width: 430px) {
	#nav {
		font-size: 0.5em;
	}
}

/* Slider */
#sliderContainer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	padding-top: 0;
}
#sliderImagesContainer {
	top: 0;
	bottom: 0;
	width: 1000vw;
	position: absolute;
	transition: left 0.5s;
}

#sliderContainer .image {
	height: 100vh;
	width: 100vw;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.arrow {
	width: 8vmin;
	height: 8vmin;
	background-color: #fff;
	border-radius: 100px;
	cursor:pointer;
	bottom: 3%;
	position: absolute;
}
#leftHolder {
	position: absolute;
	height: 100%;
	left: 7%;
	top: 0;
}
#rightHolder {
	position: absolute;
	height: 100%;
	right: 9%;
	top: 0;
}
#rightHolder img {
	right: 0;
}

/* Countdown */
#countdownContainer {
	position: absolute;
    border-radius: 10px;
    padding: 15px 10px;
    left: 50%;
    margin-left: -270px;
    bottom: 10px;
    text-align: center;
    font-family: Arial;
    color: #000;
}
#countdownCounterContainer {
	font-size: 20px;
}
.counter {
    font-size: 45px;
    color: #000;
    margin-top: 25px;
}
.counterContainer {
	display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 10%;
    overflow: hidden;
    background-color: #fff;
    margin-right: 5px;
}

@Media (max-width: 1000px), (max-height: 700px) {
	.counter {
		font-size: 30px;
		margin-top: 16px;
	}

	#countdownContainer {
		margin-left: -185px;
	}

	.counterContainer {
		width: 80px;
		height: 80px;
	}

	#countdownCounterContainer {
		font-size: 13px;
	}

	#countdownRemaining {
	    font-size: 14px;
	}
}
@Media (max-width: 700px), (max-height: 530px) {
	.counter {
		font-size: 20px;
		margin-top: 11px;
	}

	#countdownContainer {
		margin-left: -130px;
	}

	.counterContainer {
		width: 53px;
		height: 53px;
	}

	#countdownCounterContainer {
		font-size: 9px;
	}

	#countdownRemaining {
	    font-size: 10px;
	}
}
/* Story */
#storyContent {
    width: 840px;
    margin: 0 auto;
}
.storyPart {
	width: 400px;
	display: table-cell;
	margin: auto;
	text-align: center;
}
.storyPart H4 {
	font-size: 20px;
	font-weight: 100;
	margin-bottom: 27px;
}
.storyPart H4 > SPAN{
	font-size: 25px;
	font-weight: 600;
	color: #de5781;
}
.storyPart img {
	width: 100%;
	max-width: 300px;
	padding-bottom: 10px;
}
.storyPart:nth-of-type(1) {
    padding-right: 70px;
}
.storyPart:nth-of-type(2) {
	padding-left: 70px;
}
#asToldBy {
	font-size: 15px;
}
@Media (max-width: 1000px) {
	.storyPart {
		display: inherit;
		margin: 0 0 50px 0;
		width: 100%;
		padding: 0;
		max-width: 600px;
    	min-height: 350px;
	}
	.storyPart img {
		float: left;
	    padding: 0 25px 15px 0;
	}

	.storyPart:nth-of-type(1) {
		border-right: none;
	    padding: 0;
	}

	.storyPart:nth-of-type(2) {
		padding-left: 0;
	}

	#storyContent {
		width: 100%;
	}
}
@Media (max-width: 600px) {
	.storyPart img {
		padding: 0;
		float: inherit;
	}
}
/* Welcome Text */
#welcomeText {
	position: absolute;
	top: 33%;
	color: white;
	width: 100%;
	text-align: center;
	font-size: 99px;
}
#welcomeText H1 {
	font-family: "Engagement-Regular"; 
	font-size: 1em;
	font-weight: 400;
	line-height: 1.1;
	margin: 0;
}
#welcomeText P {
	font-family: "Circle_Semi"; 
	font-size: .19em;
	letter-spacing: 0.4em;
	line-height: 1.1;
}
@Media (max-width: 1000px), (max-height: 700px) {
	#welcomeText {
		font-size: 10vmin;
	}
}
@Media (max-width: 700px), (max-height: 400px) {
	#welcomeText {
		font-size: 14vmin;
	}
}

/* Proposal */
#proposal img {
	width: 100%;
	max-width: 400px;
	float: left;
    padding: 0 15px 15px 0;
}
@Media (max-width: 750px) {
	#proposal img {
		float: inherit;
	}
}