* {
    box-sizing: border-box;
}
body {
	height: 100%;
 	margin: 0;
	overflow-x: hidden;
    background-color: lavenderblush;
    font-family: Arial;
}
section:not(:first-of-type) {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    padding: 0 30px;
}
section:not(:first-of-type) h3 {
	text-align: center;
    font-size: 30px;
}
section h4 {
	margin-bottom: 5px;
    font-size: 18px;
}

.verticalAlignCenter {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
 	-webkit-transform: translateY(-50%);
 	-moz-transaform: translateY(-50%);
 	-ms-transform: translateY(-50%);
}

/* Nav */
#nav {
	display: table;
	table-layout: fixed;
	height: 60px;
	background-color: #fff;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1;
	font-family: 'Bangers', cursive;
	font-size: 1.5em;
}
#nav > DIV {
	padding: 10px 30px;
	float: right;
}
#nav > DIV:nth-child(1) {
	padding-left: 5%;
}
#nav > DIV:nth-child(5) {
	padding-right: 5%;
}
#nav > DIV:nth-child(1), #nav > DIV:nth-child(2), #nav > DIV:nth-child(3) {
	float: left
}
#nav a {
	color: black;
	text-decoration: none;
	vertical-align: sub;
	font-size: 0.85em;
}
#nav a:hover {
	text-decoration: underline;
}
#nav.active {
	box-shadow: 0 0 10px rgba(0,0,0,0.4);   
}
#nav #heart {
	background-image: url("../images/heart.png");
    position: absolute;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center top;
    z-index: -1;
    height: 100px;
    width: 200px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 27px;
    top: 5px;
}

/* Slider */
#sliderContainer {
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: relative;
	padding-top: 0;
}
#sliderImagesContainer {
	top: 0;
	bottom: 0;
	width: 1000vw;
	position: absolute;
	transition: left 0.5s;
}

#sliderContainer .image {
	height: 100vh;
	width: 100vw;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.arrow {
	width: 45px;
	height: 45px;
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 22px;
	cursor:pointer;
}
#leftHolder {
	position: absolute;
	height: 100%;
	left: 7%;
	top: 0;
}
#rightHolder {
	position: absolute;
	height: 100%;
	right: 5%;
	top: 0;
}

/* Countdown */
#countdownContainer {
	position: absolute;
    border-radius: 10px;
    padding: 15px 10px;
    left: 20%;
    right: 20%;
    bottom: 10px;
    text-align: center;
    font-family: Arial;
    color: rgba(255,255,255,0.8);
}
#countdownCounterContainer {
	font-size: 15px;
}
#countdownRemaining {
    font-size: 20px;
    border: 1px solid white;
    border-radius: 15px;
    display: inline-block;
    padding: 5px 30px;
    background-color: rgba(0,0,0,0.5);
    margin-top: 10px;
}
.counter {
    font-size: 45px;
    color: rgba(255,255,255,0.9);
    margin-top: 25px;
}
.counterContainer {
	display: inline-block;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 2px solid rgba(255,255,255,0.7);
    overflow: hidden;
    background-color: rgba(0,0,0,0.5);
    margin-right: 5px;
}

/* Story */
#storyContent {
    width: 640px;
    /*height: 600px;*/
    margin: 0 auto;
}
.storyPart {
	width: 300px;
	display: table-cell;
	margin: auto;
	padding: 0 20px;
}
.storyPart img {
	width: 300px;
	padding-bottom: 10px;
}
.storyPart:nth-of-type(1) {
	border-right: 1px solid grey;
}